.components-menu-group + .components-menu-group {
	margin-top: $grid-size;
	padding-top: $grid-size;
	border-top: $border-width solid $border-color;
}

.components-menu-group__label {
	margin-bottom: $grid-size;
	color: $dark-gray-300;
	padding: 0 ($grid-size - $border-width);
}
